@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSansCyrl.otf") format("opentype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSansCyrl_0.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSansCyrl_1.otf") format("opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSansCyrl_2.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSansCyrl_3.otf") format("opentype");
  font-weight: 900;
  font-style: normal; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  /* */
  border: none; }

*:focus {
  outline: none; }

::-moz-selection {
  background: blue;
  color: white; }

::selection {
  background: blue;
  color: white; }

::-moz-selection {
  background: blue;
  color: white; }

::-webkit-selection {
  background: blue;
  color: white; }

::-webkit-input-placeholder {
  color: #96aebd; }

::-moz-placeholder {
  color: #96aebd; }

:-ms-input-placeholder {
  color: #96aebd; }

:-moz-placeholder {
  color: #96aebd; }

.noscroll {
  position: fixed; }

input:-webkit-autofill {
  -webkit-text-fill-color: black !important; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000000000s ease-in-out 0s !important; }

.one-col {
  width: 5.95%; }

.two-col {
  width: 14.5%; }

.three-col {
  width: 23.05%; }

.four-col {
  width: 31.6%; }

.five-col {
  width: 40.15%; }

.six-col {
  width: 48.7%; }

.seven-col {
  width: 57.25%; }

.eight-col {
  width: 65.8%; }

.nine-col {
  width: 74.35%; }

.ten-col {
  width: 82.9%; }

.eleven-col {
  width: 91.45%; }

.twelve-col {
  width: 100%; }

.cols {
  text-align: justify;
  text-justify: distribute; }
  .cols:after {
    content: "";
    display: inline-block;
    height: 0.0000000000001px;
    width: 100%; }
  .cols > * {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top; }

html, body {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%; }

body {
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  font-size: 0;
  font-family: "Museo Sans", "Arial", sans-serif;
  color: #374851;
  background-color: #fff; }

header,
section,
footer {
  width: 100%;
  float: left; }

.container {
  width: 1640px;
  margin: 0 auto;
  padding-left: 43px; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

span {
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Museo Sans", "Arial", sans-serif;
  font-weight: 100;
  font-style: normal;
  line-height: normal; }

h1 {
  letter-spacing: -2.8px;
  font-size: 70px; }

h2 {
  letter-spacing: -2px;
  font-size: 50px; }

h3 {
  letter-spacing: -1.6px;
  font-size: 40px; }

h4 {
  letter-spacing: -1px;
  font-size: 25px; }

h5 {
  letter-spacing: -0.72px;
  font-size: 18px; }

p {
  font-family: "Museo Sans", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 100;
  line-height: normal; }

p.small {
  font-size: 17px; }

p.big {
  font-size: 25px; }

p.huge {
  letter-spacing: -1.2px;
  font-size: 30px; }

a,
input,
button,
select,
textarea {
  transition: all 0.25s ease-in-out;
  box-sizing: border-box; }

a {
  text-decoration: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit; }

select,
input,
textarea {
  padding: 10px;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  display: inline-block; }

.button {
  text-align: center;
  border: 1px solid #25ffc4;
  padding: 10px;
  display: inline-block;
  color: #374851;
  font-size: 20px;
  background-color: transparent; }
  .button::hover {
    background-color: #25ffc4; }

.btn {
  letter-spacing: -0.8px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  font-family: "Museo Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: normal;
  font-weight: 700;
  color: #374851;
  text-align: center;
  border-radius: 25px;
  border: 3px solid #25ffc4;
  background-color: transparent;
  transition: all 0.25s ease-in-out; }
  .btn:hover {
    background-color: #25ffc4; }
  .btn:active {
    background-color: #374851;
    color: #fff; }
  .btn_light {
    color: #fff; }
    .btn_light:hover {
      color: #374851; }
    .btn_light:active {
      color: #fff; }
  .btn_fw500 {
    font-weight: 500; }
  .btn_white {
    border-color: #fff; }
    .btn_white:hover {
      color: #374851;
      background-color: #fff; }
    .btn_white:active {
      color: #374851;
      background-color: #fff; }

.text-block {
  box-sizing: border-box; }
  .text-block_start {
    text-align: left; }
  .text-block_centered {
    text-align: center; }
    .text-block_centered .text-block__title_mainpage {
      padding-right: 0; }
  .text-block_end {
    text-align: right; }
  .text-block_light {
    color: #fff; }
  .text-block_dark {
    color: #374851; }
  .text-block__title i {
    color: #25ffc4;
    font-style: normal; }
  .text-block__title_mainpage {
    margin-bottom: 70px;
    font-size: 70px;
    padding-right: 50px; }
  .text-block__content {
    font-size: 22px;
    line-height: 1.2em; }
    .text-block__content_small {
      font-size: 17px; }
    .text-block__content_big {
      font-size: 25px; }
    .text-block__content_huge {
      letter-spacing: -1.2px;
      font-size: 30px; }
    .text-block__content_huger {
      letter-spacing: -1.32px;
      font-size: 33px;
      line-height: 1.2em; }
    .text-block__content p {
      margin-bottom: 34px;
      padding: 0 5px;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      color: inherit; }
  .text-block__item {
    font-size: inherit;
    letter-spacing: inherit;
    font-weight: 100;
    line-height: inherit;
    color: inherit; }
  .text-block__link {
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid #25ffc4; }

.logo {
  position: relative;
  display: block;
  font-size: 0; }
  .logo_footer {
    margin-top: 16px;
    margin-right: 93px;
    width: 133px;
    height: 92px; }
  .logo__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; }
    .logo__img_footer {
      fill: url("#footer-logo-gradient");
      width: 133px;
      height: 92px; }
    .logo__img_header {
      fill: url("#header-logo-gradient");
      width: 110px;
      height: 77px; }
    .logo__img_lead {
      fill: #fff;
      width: 220px;
      height: 157px; }

.page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center; }

.page-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  background-color: #435970;
  background-image: linear-gradient(to left, #1b202d 0, #465d75 100%);
  background-repeat: no-repeat; }
  .page-header__wrapper {
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: flex-start;
    box-sizing: border-box;
    padding-left: 150px; }
  .page-header__logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 116px;
    background-color: #435970; }

.lead {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: stretch;
      align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 1058px; }
  .lead__item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: flex-start;
    box-sizing: border-box;
    padding: 0 260px 176px 182px;
    width: 50%;
    min-height: 1058px;
    transition: all 0.25s ease-in-out; }
    .lead__item::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: 0% 100%;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 1.25s ease-in-out;
      z-index: 3; }
    .lead__item:hover::before {
      opacity: 0.55; }
    .lead__item_hero {
      /*&:hover {
      }*/ }
      .lead__item_hero::before {
        background-image: linear-gradient(to top, #1451ff 0, transparent 526px); }
      .lead__item_hero .lead__text::before {
        left: 4px;
        background-color: #1451ff; }
    .lead__item_employer {
      padding-left: 190px;
      /*&:hover {
      }*/ }
      .lead__item_employer::before {
        background-image: linear-gradient(to top, #25ffc4 0, transparent 526px); }
      .lead__item_employer .lead__text::before {
        background-color: #25ffc4; }
  .lead__btn {
    position: relative;
    margin-left: 5px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(200px);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    z-index: 5; }
    .lead__item:hover .lead__btn {
      visibility: visible;
      transform: translateY(0);
      opacity: 1; }
  .lead__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1058px;
    z-index: 1; }
  .lead__bg-img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .lead__bg-img img {
      position: absolute;
      top: 0;
      z-index: 2; }
    .lead__bg-img_hero img {
      left: 0; }
    .lead__bg-img_employer img {
      right: 0; }
    .lead__bg-img::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 3; }
  .lead__text {
    position: relative;
    padding-top: 484px;
    z-index: 4; }
    .lead__text::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 12px;
      height: 470px; }
  .lead__logo {
    position: absolute;
    top: 294px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10; }

.main-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-positive: 1;
      flex-grow: 1;
  box-sizing: border-box; }
  .main-menu__burger {
    display: none; }
  .main-menu__list {
    box-sizing: border-box;
    padding-left: 28px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main-menu__list .page-header_no-switch-btn {
      -ms-flex-pack: center;
          justify-content: center; }
  .main-menu__item {
    display: inline-block;
    margin-right: 53px;
    font-size: 0; }
    .main-menu__item:last-child {
      margin-right: 0; }
  .main-menu__link {
    letter-spacing: -0.8px;
    display: inline-block;
    padding: 12px 10px 16px;
    font-family: "Museo Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2em;
    color: #fff;
    text-decoration: none; }
    .main-menu__link:hover {
      background-color: #17202c; }
    .main-menu__item.active .main-menu__link {
      color: #25ffc4; }
      .main-menu__item.active .main-menu__link:hover {
        background-color: transparent; }

.user-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start; }
  .user-menu__toggle {
    display: none; }
  .user-menu__list {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: flex-start;
    padding-left: 22px;
    padding-right: 22px; }
  .user-menu__item {
    display: inline-block;
    margin-right: 48px;
    font-size: 0; }
    .user-menu__item:last-child {
      margin-right: 0; }
  .user-menu__link {
    letter-spacing: -0.8px;
    display: inline-block;
    padding: 12px 10px 16px;
    font-family: "Museo Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2em;
    color: #fff;
    text-decoration: none; }
    .user-menu__link:hover {
      background-color: #17202c; }
  .user-menu__switch-btn {
    letter-spacing: -0.8px;
    position: relative;
    padding: 12px 34px 16px 22px;
    min-width: 252px;
    width: 252px;
    font-family: "Museo Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    color: #fff; }
    .user-menu__switch-btn::before, .user-menu__switch-btn::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .user-menu__switch-btn::before {
      background-image: url("/images/switch_btn_bg.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: 1; }
    .user-menu__switch-btn::after {
      background-color: #000;
      opacity: 0.49;
      z-index: 2;
      transition: all 0.25s ease-in-out; }
    .user-menu__switch-btn:hover::after {
      opacity: 0.69; }
    .user-menu__switch-btn span {
      position: relative;
      z-index: 3; }
    .page-header_no-switch-btn .user-menu__switch-btn {
      display: none; }
  .user-menu__arrow {
    position: absolute;
    right: 16px;
    top: 50%;
    width: 26px;
    height: 22px;
    fill: #25ffc4;
    transform: translate(0, -50%);
    z-index: 3; }

.page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center; }

.page-section {
  position: relative;
  box-sizing: border-box;
  width: 100%; }
  .page-section__container {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: flex-start;
    padding-bottom: 10px;
    /*@media (max-width: 1024px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }*/ }
  .page-section_centered .page-section__container {
    -ms-flex-pack: center;
        justify-content: center; }
  .page-section_start .page-section__container {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .page-section_end .page-section__container {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .page-section__bg-img {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; }
    .page-section__bg-img img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      margin: auto;
      object-fit: cover; }

.we-for-employer {
  box-sizing: border-box;
  min-height: 796px; }
  .we-for-employer__container {
    padding-top: 202px; }
  .we-for-employer__text {
    width: 50%;
    padding-right: 58px; }

.employer-work {
  min-height: 844px; }
  .employer-work__text {
    width: 50%;
    padding-top: 92px;
    padding-left: 154px;
    padding-right: 50px; }
  .employer-work__list {
    margin-top: 82px; }
  .employer-work__item {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 9px;
    padding-left: 48px;
    font-size: 27px;
    background-repeat: no-repeat;
    background-position: 0 0; }
  .employer-work__icon {
    position: absolute;
    top: 8px;
    left: 6px; }
    .employer-work__icon_posting {
      top: 10px;
      width: 23px;
      height: 24px; }
    .employer-work__icon_search {
      width: 24px;
      height: 24px; }
    .employer-work__icon_explore {
      top: 10px;
      width: 24px;
      height: 24px; }
    .employer-work__icon_score {
      width: 25px;
      height: 24px; }
  .employer-work .page-section__bg-img {
    background-color: #17202c; }

.we-for-hero {
  min-height: 956px;
  overflow: hidden; }
  .we-for-hero__container {
    position: relative; }
  .we-for-hero__text {
    padding-top: 146px;
    padding-right: 260px;
    width: 50%;
    z-index: 2; }
  .we-for-hero__collage {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    top: -444px;
    right: -532px;
    z-index: 1; }
  .we-for-hero__collage-item {
    width: 50%; }
    .we-for-hero__collage-item:nth-child(1) {
      margin: 0 25%;
      width: 50%; }
    .we-for-hero__collage-item:nth-child(2) {
      margin-top: -220px;
      margin-left: -400px; }
    .we-for-hero__collage-item:nth-child(3) {
      margin-top: -238px;
      margin-right: -60px;
      margin-left: 54px; }
    .we-for-hero__collage-item:nth-child(4) {
      margin-top: -238px;
      margin-right: -60px;
      margin-left: 54px; }
    .we-for-hero__collage-item:nth-child(5) {
      margin-top: -238px;
      margin-right: -60px;
      margin-left: 54px; }

.hero-work {
  min-height: 758px; }
  .hero-work__text {
    padding-top: 110px;
    padding-left: 128px;
    padding-right: 162px;
    width: 50%; }
  .hero-work .page-section__bg-img {
    background-color: #207f80; }

.communication {
  min-height: 1355px; }
  .communication__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center; }
  .communication__text-top {
    padding-top: 150px;
    padding-left: 182px;
    padding-right: 308px;
    margin-bottom: 28px; }
    .communication__text-top h2 {
      margin-bottom: 40px; }
  .communication__text-bottom {
    padding-right: 74px; }
  .communication__images {
    position: relative;
    width: 100%;
    margin-bottom: 76px; }
  .communication__img {
    position: relative;
    margin-left: -10px;
    max-width: 1572px;
    width: 100%;
    height: 704px;
    overflow: hidden; }
    .communication__img img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 0;
      margin: auto;
      object-fit: cover; }
  .communication__list {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: flex-start;
    left: calc(50% - 80px);
    bottom: 28px;
    width: 330px;
    transform: translate(-50%, 0); }
  .communication__item {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #25ffc4; }
    .communication__item:last-child {
      background-color: #ff2553; }
    .communication__item::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 27px;
      height: 33px;
      transform: translate(-50%, -50%);
      background-image: url(/images/communication_sprite.png);
      background-repeat: no-repeat; }
    .communication__item_video::before {
      width: 28px;
      height: 19px;
      background-position: 0 0; }
    .communication__item_voice::before {
      width: 20px;
      height: 33px;
      background-position: -40px 0; }
    .communication__item_text::before {
      width: 23px;
      height: 27px;
      background-position: -80px 0; }
    .communication__item_call::before {
      width: 24px;
      height: 26px;
      background-position: -120px 0; }
  .communication_hero {
    max-height: 1394px; }
    .communication_hero .communication__text-top {
      padding-top: 198px;
      padding-left: 172px;
      padding-right: 308px;
      margin-bottom: 24px; }
    .communication_hero .communication__images {
      margin-bottom: 84px; }
    .communication_hero .communication__text-top {
      padding-right: 146px; }

.intro-video {
  position: relative;
  min-height: 342px; }
  .intro-video::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 1; }
  .intro-video__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start;
    z-index: 2; }
  .intro-video__text {
    width: 50%;
    z-index: 3; }
  .intro-video__playblock {
    width: 50%;
    z-index: 3; }
  .intro-video__bg-img img {
    top: -80px;
    margin: 0 auto; }

.page-footer {
  background-color: #e7eaed; }
  .page-footer__container {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: flex-start;
    min-height: 474px;
    padding-top: 66px;
    padding-bottom: 52px; }

.footer-menu {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start; }
  .footer-menu__title {
    font-weight: 700;
    line-height: 2.04em;
    color: #a8b3bf; }
  .footer-menu__item {
    letter-spacing: -0.88px;
    font-size: 22px;
    line-height: 2.31818em;
    text-align: left;
    color: #394a5e; }
    .footer-menu__item a {
      text-decoration: none; }

.socials {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 23px;
  margin-bottom: 23px; }
  .socials__item {
    margin-right: 34.6px; }
    .socials__item:last-child {
      margin-right: 0; }

.social {
  box-sizing: border-box;
  width: 49px;
  height: 49px;
  border: 3px solid #25ffc4;
  border-radius: 50%;
  background-color: transparent; }
  .social__link {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0; }
  .social__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #394b60; }
    .social__img_facebook {
      width: 14px;
      height: 27px; }
    .social__img_twitter {
      width: 29px;
      height: 23px; }
    .social__img_instagram {
      width: 23px;
      height: 23px;
      fill: transparent;
      stroke: #394b60; }
    .social__img_youtube {
      width: 25px;
      height: 18px; }
    @media (max-width: 1750px) {

  .container {
    width: 1240px; }

  .lead__item {
    padding-left: 60px;
    padding-right: 60px; } }
    @media (max-width: 1024px) {

  .logo__img_header {
    width: 96px;
    height: 68px; }

  .logo__img_lead {
    width: 165px;
    height: 117px; } }
